<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bike Station List</title>
    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>
<h1>Bike Station List</h1>
<table>
    <thead>
    <tr>
        <th>Station Id</th>
        <th>Station Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Capacity</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="station : ${stations}">
       <td th:text="${station.stationId}"></td>
        <td> <a th:href="@{/stations/{name}(name=${station.name})}" th:text="${station.name}"> </a></td>
        <td th:text="${station.address}"></td>
        <td th:text="${station.city}"></td>
        <td th:text="${station.totalCapacity}"></td>
        <td th:text="${#numbers.formatDecimal(station.latitude, 0, 4, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(station.longitude, 0, 4, 'POINT')}"></td>
    </tr>
    </tbody>
</table>

<div>
    <ul class="page-numbers">
        <li>
            <a th:href="@{${requestUri}(page=0, size=${stations.size})}">First</a>
        </li>
        <li>
            <a th:href="@{${requestUri}(page=${stations.number - 1}, size=${stations.size})}">Previous</a>
        </li>
        <li>
            <a th:href="@{${requestUri}(page=${stations.number + 1}, size=${stations.size})}">Next</a>
        </li>
        <li>
            <a th:href="@{${requestUri}(page=${stations.totalPages - 1}, size=${stations.size})}">Last</a>
        </li>
    </ul>
</div>

</body>
</html>