<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bike Trip List</title>
    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>
<body>
<h1>Bike Journey List</h1>
<table>
    <thead>
    <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Distance (km)</th>
        <th>Duration (min)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trip : ${trips}">
        <td th:text="${trip.departureTime}"></td>
        <td th:text="${trip.returnTime}"></td>
        <td th:text="${trip.startStationName}"></td>
        <td th:text="${trip.endStationName}"></td>
        <td th:text="${#numbers.formatDecimal(trip.distance, 0, 2, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(trip.duration, 0, 0, 'POINT')}"></td>
    </tr>
    </tbody>
</table>

<div>
    <ul class="page-numbers">
        <li>
            <a th:href="@{${requestUri}(page=0, size=${trips.size})}">First</a>
        </li>
        <li>
            <a th:href="@{${requestUri}(page=${trips.number - 1}, size=${trips.size})}">Previous</a>
        </li>
        <li>
            <a th:href="@{${requestUri}(page=${trips.number + 1}, size=${trips.size})}">Next</a>
        </li>
        <li>
            <a th:href="@{${requestUri}(page=${trips.totalPages - 1}, size=${trips.size})}">Last</a>
        </li>
    </ul>
</div>

</body>
</html>